@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #E0FFFF;
    --second-bg-color: #FFFFF0;
    --text-color: #FF7F50;
    --main-color: #48D1CC;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-width: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar {
    display: flex;
    align-items: center;
    transform: translateZ(0);
}
  
.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: color 2s ease;
}
  
.navbar a:hover {
    color: var(--main-color);
}
  
.language-options {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
  
.language-option {
    color: var(--main-color);
    font-size: 14px;
    text-decoration: none;
    margin-left: 1rem;
    transition: color 0.3s ease-in-out;
}
  
.language-option:hover, 
.language-option.active {
    font-weight: bold;
    color: var(--main-color-color);
}
  

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
  
.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 80px;
    position: relative;
}
  
.home-content {
    padding-top: 200px;
    flex: 1;
    max-width: 50%;
    z-index: 1; 
}
  
.home-img {
    width: 50%;
    height: 80%;
    margin-left: auto;
    margin-right: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 2;
}
  
.home-img .shape,
.home-img .picture {
    max-width: 85%;
}
  
.home-img img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, transform 1s;
    z-index: 1;
}
  
.home-img:hover .shape {
    bottom: 40px;
}
  
.home-img:hover .picture {
    transform: translateX(-80%);
}  

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h2 {
    font-size: 3rem;
    font-weight: 700;
}

.home-content h3 {
    font-size: 2.8rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.7rem;
    font-weight: 600;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);

}


.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s easy;
}

.btn:hover {
    box-shadow: none;
}

.about {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    background: var(--second-bg-color);
    padding: 10rem 40px 20px 40px;
    box-sizing: border-box;
}

.about-content h3 {
    color: var(--main-color);
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}
  
.about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--bg-color);
    padding: 15px 40px 10px 40px;
    border-radius: 8px;
}

#left-box {
    flex-basis: 50%;
    margin-right: 20px;
}
  
#right-box {
    flex-basis: 50%;
    padding-top: 25px;
} 

#right-box p {
    padding-top: 15px;
} 
  
.about-content h2.heading {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}
  
.about-content h2.heading span {
    color: var(--main-color);
}
  
.about-content h3 {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 10px;
  }
  
.about-content p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: left;
}
  
.about-content p span {
    font-weight: bold;
    
}

.about-content ul.list-courses {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
    margin-bottom: 5px;
    list-style-type: none;
}

.about-content ul.list-courses li {
    font-size: 18px;
    margin-left: 0;
    display: flex;
    font-weight: bold;
}

.about-content ul.list-courses li:before {
    content: '\2022';
    margin-right: 5px;
}

.skills {
    padding: 114px;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container .skills-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.skills-container .skills-box:hover {
    border-color: .2rem solid var(--bg-color);
    transform: scale(1.02);
    box-shadow: 0 0 1rem var(--main-color);
}

.skills-box i, 
.about-content i {
    font-size: 7rem;
    color: var(--main-color);
}

.skills-box p {
    margin-bottom: 20px; 
}

.skills-box h3 {
    font-size: 2.6rem;
    margin-bottom: 10px;
}

.skills-box {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.skills-box ul.list-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
  
.skills-box ul.list-skills li {
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.skills-box ul.list-skills li:before {
    content: '\2022';
    margin-right: 5px;
}
  
.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.portfolio h2 .heading {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem; 
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box {
    max-width: 375px; 
    margin: 0 auto; 
}
  
.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.2);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
    border-radius: 0;
    color: var(--main-color);
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h3 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem; 
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);  
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

@media (max-device-width: 1200px) {
    html {
      font-size: 55%;
    }
    .home-img .shape,
    .home-img .picture {
        max-width: 90%;
        height: 95%;
    }
}

@media (max-device-width: 1070px) {
    html {
      font-size: 50%;
    }
    .home-img .shape {
        max-width: 95%;
        height: 100%;
    }
    .home-img .picture {
        max-width: 90%;
        height: 100%;
    }
}
  
@media (max-device-width: 991px) {
    .navbar a {
        font-size: 2rem; 
        margin-left: 3rem; 
    }
    .home {
        padding-top: 100px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .home-content {
        padding-top: 100px;
    }

    .home-img .shape {
        max-width: 95%;
        height: 95%;
    }
    .home-img .picture {
        max-width: 90%;
        height: 95%;
    }
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
      
    .about-content {
        margin: 0;
        width: 100%;
    }
      
    .about-content:nth-child(2) {
        margin-top: 2rem;
    }
     
    .section {
      padding: 10rem 3% 2rem;
    }
  
    .skills,
    .portfolio {
      padding-bottom: 7rem;
    }
  
    .contact {
      min-height: auto;
    }
  
    .footer {
      padding: 2rem 3%;
    }
  }
  
@media (max-device-width: 820px) {
    body {
        overflow-x: hidden;
    }
    .home,
    .about,
    .skills,
    .portfolio,
    .contact {
        min-width: 800px;
    }
    .portfolio-box {
        width: 100%;
    }
    .skills-container {
        min-width: auto;
    }
    .contact {
        min-height: auto;
    }
    
    .footer {
        padding: 2rem 3%;
    }
}


@media (max-device-width: 768px) {
    #menu-icon {
      display: block;
    }
  
    .navbar ,
    .navbar{
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
      background: var(--bg-color);
      border-top: .1rem solid rgba(0, 0, 0, .2);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
      display: none;
    }
  
    .navbar.active {
      display: block;
    }
  
    .navbar a,
    .language-options {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
    }
  
    body {
        overflow-x: hidden;
    }
    .home,
    .about,
    .skills,
    .portfolio,
    .contact {
        min-width: 700px;
    }
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio-box {
        width: 100%;
    }
    .skills-container {
        min-width: auto;
    }
    .contact {
        min-height: auto;
    }
    
    .footer {
        padding: 2rem 3%;
    }
}


@media (max-device-width: 680px) {
    body {
        overflow-x: hidden;
    }
    .about,
    .skills,
    .portfolio,
    .contact {
        min-width: 550px;
    }
    .home {
      flex-direction: column;
      padding-bottom: 90vh;
      min-width: 550px;
      height: 1150px;
    }
  
    .home-content {
      order: 2;
      max-width: 100%;
      padding-top: 50px;
    }
  
    .home-img {
      order: 1;
      width: 100%;
      height: 600px;
    }
  
    .home-img img {
      width: 90%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .home-img .shape {
        max-width: 100%;
        height: 100%;
    }
    .home-img .picture {
        max-width: 75%;
        height: 110%;
    }
    .home-img:hover .picture {
        transform: translateX(-55%);
    }
    
    .about {
        flex-direction: column-reverse;
    }

    .skills {
        padding: 50px 50px 50px 50px;
    }
    .skills-box {
        min-width: 50vh; 
    }
    .skills h2 {
        margin-bottom: 2rem;
    }
    
    .portfolio-container {
        grid-template-columns: 1fr;
    }
    .portfolio-box {
        min-width: 420px;
    }
    .contact {
        padding-top: 40px;
        height: 550px;
    }
}

@media (max-device-width: 600px) {
    body {
        overflow-x: hidden;
    }
    .about,
    .skills,
    .portfolio,
    .contact {
        min-width: 500px;
    }
    .home {
      flex-direction: column;
      padding-bottom: 90vh;
      min-width: 500px;
      height: 1100px;
    }
  
    .home-content {
      order: 2;
      max-width: 100%;
      padding-top: 50px;
    }
  
    .home-img {
      order: 1;
      width: 100%;
      height: 600px;
    }
  
    .home-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .home-img .shape {
        max-width: 100%;
        height: 90%;
    }
    .home-img .picture {
        max-width: 75%;
        height: 100%;
    }
    .home-img:hover .picture {
        transform: translateX(-55%);
    }
    
    .about {
        flex-direction: column-reverse;
    }

    .skills {
        padding: 50px 50px 50px 50px;
    }
    .skills-box {
        min-width: 50vh; 
    }
    .skills h2 {
        margin-bottom: 2rem;
    }
    
    .portfolio-container {
        grid-template-columns: 1fr;
    }
    .portfolio-box {
        min-width: 420px;
    }
    .contact {
        padding-top: 40px;
        height: 550px;
    }
}

@media (max-device-width: 550px) {
    body {
        overflow-x: hidden;
    }
    .about,
    .skills,
    .portfolio,
    .contact {
        min-width: 450px;
    }
    .home {
      padding-left: 25px;
      padding-right: 25px;
      flex-direction: column;
      padding-bottom: 70vh;
      min-width: 450px;
      height: 1150px;
    }

    .home-content {
      order: 2;
      max-width: 100%;
      padding-top: 50px;
    }
    
    .home-img {
      order: 1;
      width: 100%;
      height: 75vh;
      height: 600px;
    }
  
    .home-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .home-img .shape {
        max-width: 100%;
        height: 100%;
    }
    .home-img .picture {
        max-width: 90%;
        height: 110%;
    }
    .home-img:hover .picture {
        transform: translateX(-55%);
    }
    .portfolio-container {
        min-width: auto;
    }
    .portfolio-box {
        min-width: auto;
    }
    .skills-container {
        min-width: auto;
    }
    .skills-box {
        min-width: 400px;
    }
    .contact {
        padding-top: 40px;
        height: 550px;
    }
}


@media (max-device-width: 450px) {
    body {
        overflow-x: hidden;
    }
    .about,
    .skills,
    .portfolio,
    .contact {
        min-width: 450px;
    }
    .home {
      padding-left: auto;
      padding-right: auto;
      flex-direction: column;
      padding-bottom: 70vh;
      min-width: 450px;
      height: 1050px;
    }

    .home-content {
      order: 2;
      max-width: 100%;
      padding-top: 50px;
    }
    
    .home-img {
      order: 1;
      width: 100%;
      height: 75vh;
      height: 500px;
    }
  
    .home-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .home-img .shape {
        max-width: 100%;
        height: 100%;
    }
    .home-img .picture {
        max-width: 90%;
        height: 110%;
    }
    .home-img:hover .picture {
        transform: translateX(-55%);
    }
    .skills-box {
        min-width: 340px;
    }
    .contact {
        padding-top: 40px;
        height: 550px;
    }
}

@media (max-device-width: 420px) {
    body {
        overflow-x: hidden;
    }
    .home,
    .about,
    .skills,
    .portfolio,
    .contact {
        min-width: 420px;
    }
    .portfolio-box {
        width: 100%;
    }
    .skills-container {
        min-width: 280px;
    }
    
}

@media (max-device-width: 415px) {
    body {
        overflow-x: hidden;
    }
    .home,
    .about,
    .skills,
    .portfolio,
    .contact {
        min-width: 415px;
    }
    .portfolio-box {
        width: 100%;
    }
    .skills-container {
        min-width: 280px;
    }
    
}

@media (max-device-width: 400px) {
    body {
        overflow-x: hidden;
    }
    .home,
    .about,
    .skills,
    .portfolio,
    .contact {
        min-width: 400px;
    }
    .portfolio-box {
        width: 100%;
    }
    .skills-container {
        min-width: 280px;
    }
    
}

@media (max-device-width: 390px) {
    body {
        overflow-x: hidden;
    }
    .home,
    .about,
    .skills,
    .portfolio,
    .contact {
        min-width: auto;
    }
    .portfolio-box {
        width: 100%;
    }
    .skills-container {
        min-width: 260px;
    }
}

@media (max-device-width: 375px) {
    body {
        overflow-x: hidden;
    }
    .about,
    .skills,
    .portfolio,
    .contact {
        min-width: auto;
    }

    .home {
        min-width: 375px;
        height: 1050px;
    }

    .portfolio-box {
        width: 100%;
    }
    .skills-container {
        min-width: 240px;
    }
}

@media (max-device-width: 360px) {
    body {
        overflow-x: hidden;
    }
    .home,
    .about,
    .skills,
    .portfolio,
    .contact {
        min-width: auto;
    }
    .portfolio-box {
        width: 100%;
    }
    .skills-container {
        min-width: auto;
    }
    .skills-box {
        min-width: auto;
    }
    .contact {
        height: 85vh;
    }
    .footer {
        height: 10.5vh;
        padding-bottom: 0;
    }
}


@media (max-device-width: 319px) {
    body {
        overflow-x: hidden;
    }
    .about,
    .skills,
    .portfolio,
    .contact {
        min-width: auto;
    }
    .home {
        padding-left: auto;
        padding-right: auto;
        flex-direction: column;
        padding-bottom: 70vh;
        min-width: auto;
        height: 1050px;
    }
  
    .home-content {
        order: 2;
        max-width: 100%;
        padding-top: 50px;
    }
      
    .home-img {
        order: 1;
        width: 100%;
        height: 65vh;
        height: 400px;
    }
    
    .home-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
  
    .home-img .shape {
        max-width: 100%;
        height: 100%;
    }
    .home-img .picture {
        max-width: 90%;
        height: 110%;
    }
      .home-img:hover .picture {
        transform: translateX(-55%);
      }
    .portfolio-box {
        width: 100%;
    }
    .skills-container {
        min-width: auto;
    }
    .skills-box {
        min-width: auto;
    }
    .contact {
        height: 85vh;
    }
    .footer {
        height: 10.5vh;
        padding-bottom: 0;
    }
}


